<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">Документы</li>  
      <%#*<li>%>
<%#= link_to "Руководство пользователя", help_path%>
      <%#*</li>%>  
      <li><%= link_to "Нормативные документы", normativ_path%></li>
      <li><%= link_to "Глоссарий", glossary_path%></li>
      <li class="divider"></li>
      <li><%= link_to "На главную страницу", root_path %></li>  
    </ul>  
  </div>  
<% end %>
