<% provide(:title, 'О проекте') %>
<div class="hero-unit">
  <p>
   Будучи WEB-приложением, Вы можете работать с нашим сервисом в любом месте, где есть постоянное соединение с Интернетом, 
   на любом устройстве (настольный ПК (PC или Mac), ноутбук, планшетный PC и т.д. и т.п.), 
   с установленным на нём интернет-браузером. При этом Вы не ограничиваетесь в выборе операционной системы (Win/Linux/Mac), 
   и Вам не нужно устанавливать никаких дополнительных программ и выделять для Ваших данных дополнительное дисковое пространство.
   Только - Ваш любимый Web-браузер. Наши тесты показали показали, что наиболее качественно 
  </p>
</div>