<% provide(:title, 'О проекте') %>
<legend><%= image_tag("Column Chart 64.png")%>О Проекте</legend>
<div style="text-align: justify; 
            border: solid darkgray ; 
            border-left: double; 
            color: black; 
            background-color:#f2eeee;
            line-height: 1.3em; font-size: 10pt; padding: 5pt ">
  <h3  style="line-height: 1.5em; color: darkcyan;">1. Что необходимо для работы (техническая часть)?</h3>
   Для работы с нашим сервисом необходимо постоянное соединение с Интернетом и 
   любое устройство (<em>настольный ПК (PC или Mac), ноутбук, планшетный PC и т.д. и т.п.</em>), поддерживающее работу с
   интернет-браузером. При этом Вы не ограничиваетесь в выборе операционной системы (<em>Win/Linux/Mac</em>), но при этом избавляетесь 
   от необходимости выбора каких-либо дополнительных программ и поиска дополнительного дискового пространства для Ваших данных. Вся введённая 
   информация хранится в промышленной базе данных на Web-сервере вместе с программной частью системы.</br>
   Наши тесты показали показали, что наиболее качественно (<em>т.е. "как и задумывалось"</em>) веб-страницы системы отображаются в браузерах
   <strong>FireFox, Chrome, Opera, Safari (для пользователей Mac OS)</strong>. Использование браузера <strong>Internet Explorer</strong> так же допустимо, но только как можно более новых версий. 
   Это связано с необходимостью поддержки новых стандартов разметки и оформления страниц <strong>HTML5</strong> и <strong>SS3</strong>. 
   В противном случае, вы столкнётесь c искажением шрифтов, размеров текста, формы командных кнопок и цвета графических элементов диаграмм. 
   Для работы программного кода на стороне клиента и поддержки механизма сессий необходимо, чтобы в браузере были включены JavaScript и cookies. 
   В разных браузерах это делается по-разному. Иногда эти опции уже включены по-умолчанию. Но, в целом, суть этой процедуры одна и та же. 
   Вы выполняете это в настройках браузера, и оно начинает работать.
   <ul>
   <li><strong>Firefox</strong>:  В  меню  выберите:  <em>Инструменты  >  Настройки…  >  закладки «Содержимое» и «Приватность».</em></li>
   <li><strong>Google  Chrome</strong>:  В  меню  выберите:  <em>Параметры  >  закладка «Расширенные» > кнопка «Настройки содержания…»</em></li>
   <li><strong>Internet Explorer</strong>:   В меню выберите: <em>Сервис > Свойства обозревателя > закладки «Конфиденциальность» и «Безопасность».</em></li> 
   <li><strong>Safari</strong>: В меню выберите: <em>Настройки  > Безопасность.</em></li> 
   </ul>   
   Если Вы испытываете трудности при выполнении или проверке этих настроек на своём компьютере, обратитесь за помощью к Вашему системному администратору.
      
   <h3  style="line-height: 1.5em; color: darkcyan;">2. Почему работать с системой безопасно ?</h3>
   Решение вопросов безопасности основывается на применяемой в процессе разработки архитектуре Web-приложений, в основу которой уже 
   заложены необходимые механизмы защиты. Они позволяют обеспечить безопасный доступ к данным на сервере, обеспечивая защиту 
   от таких видов потенциальных угроз как: 
   <ul>
   <li>SQL-инъекции,</li> 
   <li>"cross-site reference forgery (CSRF)" (когда данные вашей сессии перенаправляются сервером злоумышленником на другой сайт, 
   где от вашего имени выполняются несанкционированные действия),</li>
   <li>"session hijacking" и "session fixation" (в результате злоумышленник от вашего имени осуществляет несанкционировано действия на вашем сервере),</li>
   <li>распознавание вводимого пароля и чтение его в исходных базах.</li>
   </ul>
   за счёт таких мер защиты, как: 
   <ul>
   <li>фильтрация текстов паролей в лог-файлах приложения,</li>
   <li>хранение паролей в информационных таблица в видоизменённой форме,</li>
   <li>дополнительные требования к длине парольного слова,</li>
   <li>прекращение сессии связи с сервером при длительном отсутствии активности,</li>
   <li>использование токенов авторизации и применение SSL-протоколов (особенно важно при работе в безпроводных сетях),</li>
   <li>подтверждение восстановления утерянного пароля через надёжный электронный адрес,</li>
   <li>маскирующие символы при вводе в парольное поле,</li>
   <li>требования подтвердить текущий пароль при смене его на новый.</li>
   </ul>
   и ряд других мер. Все эти механизмы защиты задействованы в нашем проекте. 
   
   <h3  style="line-height: 1.5em; color: darkcyan;">3. Как происходит работа пользователя ?</h3>
   
   <h3  style="line-height: 1.5em; color: darkcyan;">4. Какие результаты получаются на выходе ?</h3>
   
   <h3  style="line-height: 1.5em; color: darkcyan;">4. Как стать постоянным пользователем сервиса ?</h3>
</div>