<% provide(:title, 'Контакты') %>
<div class="hero-unit">
  <p>
    В случае подключения на постоянной основе данные, введённые в период 15-дневного срока тестовой опрабации, сохраняются,
    и Вы продолжаете работу с ними дальше. В противном случае, Ваш аккаунт будет сначала деактивирован, затем удалён, а табличное пространство, 
    занятое Вашими данными данными, будет очищено. Освободившееся место табличного пространства будет занято данными других пользователей.
  </p>
</div>