<% provide(:title, 'Контакты') %>
  <legend><%= image_tag("Column Chart 64.png")%>Наши Контакты</legend>
  <div style="text-align: justify; 
       border: solid darkgray ; 
       border-left: double; 
       color: black; 
       background-color:#f2eeee;
       line-height: 1.3em; font-size: 10pt; padding: 5pt ">
       
    
        <table class="table table-striped table-bordered table-condensed">
          <caption>Перечень тарифов и расценок на услугу </br>
               <strong>Подключение к Автоматизированной Системе "On-line Финансовый Анализ"</strong></caption>
          <thead>
            <tr>
              <td><div class="pull-right"><strong>Тариф</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important">Начальный  </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >Квартальный</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >Полугодовой</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >Годовой    </span></div></td>        
            </tr>
          </thead>
          <tbody>
            <tr>
             <tr>
              <td><div class="pull-right"><strong>Срок действия</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important">1 месяц   </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >3 месяца  </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >6 месяцев </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >12 месяцев</span></div></td>        
            </tr>
            <tr>
              <td><div class="pull-right"><strong>Сумма к оплате</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important"> 990 000 </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >2 800 000</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >5 300 000</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >9 500 000</span></div></td>                
            </tr>          
            <tr>
              <td><div class="pull-right"><strong>Скидка</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important"> 0 % </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >5 %</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >10 %</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >20 %</span></div></td>     
            </tr>
            <tr>
              <td colspan="5"><div style="text-align: justify;"><em>В стоимость услуги включены работы по внедрению, консультированию пользователей, 
                    технической поддержке работы системы и сопровождению (развитию) её программного кода. </em></div></td>
            </tr>
          </tbody>    
        </table>        
  </div>