<% provide(:title, 'Документация') %>

<%= render 'navbar4help' %>

<% content_for :span9 do %> 
  <legend>Документация и справочные материалы</legend>
  <p>Ссылка на скачивание файла в формате PDF: <em><%= link_to  "Руководство пользователя",'roganov-roganova.pdf'%></em></p>
<% end %>
