<% provide(:title, 'Новости') %>



<div class="well sidebar-nav"style="text-align: justify; 
             border: solid darkgray ; 
             color: black; padding: 5pt ">
<legend><%= image_tag("News-64.png")%><strong>Новости</strong></legend>
</div>