<% provide(:title, 'Новости') %>

<div class="well sidebar-nav"style="text-align: justify; 
             border: solid darkgray ; 
             color: black; padding: 5pt ">
<legend><%= image_tag("News-64.png")%><strong>Новости</strong></legend>
<dl> 
    <dt> 11 октября 2012 г. </dt>
    <dd>В настоящее время идёт разработка новых аналитических блоков, среди которых следующие:
    <ul>
      <li>Расчёт чистых активов.</li>
      <li>Анализ структуры ...</li>
    </ul>  
      Срок внедрения - <strong>октябрь-ноябрь 2012 года.</strong>  
    </dd>
</dl>    
</div>