<% provide(:title, 'Новости') %>

<div class="well sidebar-nav"style="text-align: justify; 
             border: solid darkgray ; 
             color: black; padding: 5pt ">
<legend><%= image_tag("News-64.png")%><strong>Новости</strong></legend>
<dl> 
    <dt> 11 октября 2012 г. </dt>
    <dd>В настоящее время идёт разработка новых аналитических блоков:
    <ul>
      <li>Анализ чистых активов и структуры прибыли <strong><em>(срок внедрения - ноябрь 2012 г.)</em></strong></li>
      <li>Анализ денежных потоков <strong><em>(срок внедрения - декабрь 2012 г.)</em></strong></li>      
    </ul>       
    </dd>
</dl>    
</div>