<% provide(:title, 'Нормативные документы') %>

<%= render 'navbar4help' %>

<% content_for :span9 do %> 
  <legend><%= image_tag("books 64.png") %><strong>Используемые нормативные документы</strong></legend>
  <p style="text-align: justify;">Применяемые в проекте формы бухгалтерской отчётности, перечень финансовых показателей и порядок их формирования соответствуют нормативным актам, 
     законодательно принятым в Республике Беларусь, в частности:</p>
  <ol style="text-align: justify;">
    <li><strong>ПОСТАНОВЛЕНИЕ МИНИСТЕРСТВА ФИНАНСОВ РЕСПУБЛИКИ БЕЛАРУСЬ</strong> от 31 октября 2011 г. N 111 
        <em>"ОБ УСТАНОВЛЕНИИ ФОРМ БУХГАЛТЕРСКОЙ ОТЧЕТНОСТИ, УТВЕРЖДЕНИИ ИНСТРУКЦИИ О ПОРЯДКЕ СОСТАВЛЕНИЯ БУХГАЛТЕРСКОЙ ОТЧЕТНОСТИ"</em>
        (Зарегистрировано в Национальном реестре правовых актов Республики Беларусь 10 января 2012 г. N 8/24675)</li>
    <p></p>
    <li><strong>ПОСТАНОВЛЕНИЕ МИНИСТЕРСТВА ФИНАНСОВ РЕСПУБЛИКИ БЕЛАРУСЬ И МИНИСТЕРСТВА ЭКОНОМИКИ РЕСПУБЛИКИ БЕЛАРУСЬ</strong> от 27 декабря 2011 г. N 140/206
      <em>"ОБ УТВЕРЖДЕНИИ ИНСТРУКЦИИ О ПОРЯДКЕ РАСЧЕТА КОЭФФИЦИЕНТОВ ПЛАТЕЖЕСПОСОБНОСТИ И ПРОВЕДЕНИЯ АНАЛИЗА ФИНАНСОВОГО СОСТОЯНИЯ И ПЛАТЕЖЕСПОСОБНОСТИ СУБЪЕКТОВ ХОЗЯЙСТВОВАНИЯ"</em>
        (Зарегистрировано в Национальном реестре правовых актов Республики Беларусь 7 февраля 2012 г. N 8/24865)</li>
    <p></p>
    <li><strong>ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ</strong> от 12 декабря 2011 г. N 1672
      <em>"ОБ ОПРЕДЕЛЕНИИ КРИТЕРИЕВ ОЦЕНКИ ПЛАТЕЖЕСПОСОБНОСТИ СУБЪЕКТОВ ХОЗЯЙСТВОВАНИЯ"</em>
        (Зарегистрировано в Национальном реестре правовых актов Республики Беларусь 14 декабря 2011 г. N 5/34926)</li>          
  </ol>
<% end %>
