<% provide(:title, 'Новый Отчёт о движении денежных средств') %>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Новый Отчёт</li>  
      <li><%= link_to "Отменить операцию", enterprise_form_four_reports_path %></li>
      <%= render 'anchors'%>
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>  
  <%= render 'fields'%>
<% end  %>
