<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Операция отменена из-за <%= Russian::pluralize(object.errors.count, "ошибки", "ошибок", "ошибок") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>