<div class="hero-unit">
    <p>Вы у нас в гостях,и мы рады предложить вниманию профессионалов новые возможности, которые предоставляет наш проект! 
       С его помощью Вы сможете быстро и качественно решать следующие задачи:</p>

</div>
<div class="center"> 
  <%= link_to "Зарегистрироваться сейчас!", new_user_registration_path , class: "btn btn-large btn-primary" %> 
  </div>