<%  provide(:title, 'Редактирование Организации')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Редактировать</li>  
      <li><%= link_to "Отмена операции", enterprise_path(@enterprise) %></li>               
    </ul>  
  </div>  
<% end  %>


<% content_for :span9 do %> 
  <%= simple_form_for(@enterprise, html: {class: "well form-horizontal"}) do |f| %>
      <%= render 'fields', f: f %>      
  <% end %>  
<% end  %>