<%  provide(:title, 'Редактирование Отчёта о прибылях и убытках')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">Редактировать</li>  
      <li><%= link_to "Отменить операцию", enterprise_form_two_report_path %></li>
      <%= render 'anchors'%>
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <%= render 'fields'%>     
<% end  %>