<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы запросили ссылку для выполнения операции изменения пароля, и Вы можете 
  сделать это, выполнив переход по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы передумали выполнять данныю процедуру, то просто проигнорируйте это сообщение.</p>
<p>Вы пароль не изменится до тех пор, пока Вы не совершите переход по указанной ссылке.</p>