<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваша учётная запись была заблокирована по причине превышения количества неудачных попыток входа.</p>

<p>Перейдите по ссылке ниже для разблокирования Вашей учётной записи:</p>

<p><%= link_to 'Разблокировать мою учётную запись', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>