<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте", about_path %></li>
      <li><%= link_to "Наши контакты", contact_path %></li>
      <li><%= link_to "Новости", news_path %></li>
    </ul>
  </nav>
</footer>